node_modules/
build/
dist/
coverage/
data/
.DS_Store
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env*
!.env.example

# Python cache & virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
instance/

# Database files
*.db
*.sqlite3

*firebase-adminsdk*.json